.mainWrapper {
  margin-left: var(--sidebar-width);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: 40px 60px 80px 60px;
  max-width: 1100px;
  width: 100%;
}

@media (max-width: 899px) {
  .mainWrapper {
    margin-left: 0;
    padding-top: 64px;
  }

  .main {
    padding: 24px 20px;
  }
}
